* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
body {
  font-family: "Alexandria", sans-serif;
  direction: rtl;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #383838c8;
}
a {
  text-decoration: none;
}
.containar {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .containar {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .containar {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .containar {
    width: 1170px;
  }
}
.header {
  background-color: white;
  border-radius: 0px;
  box-shadow: 0px 0px 20px 1px #3a3a3a;
}
.header .containar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .containar ul {
  display: flex;
}
.header .containar ul > li > a {
  color: #202020;
  padding: 0 15px;
  font-size: 19px;
}
@media (max-width: 767px) {
  .header {
    padding: 15px;
  }
  .header .containar {
    flex-direction: column;
  }
  .header .containar ul > li > a {
    font-size: 14px;
    padding: 0 5px;
    margin-top: 10px;
    display: block;
  }
}
.landing {
  background-image: url("cover.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}
.landing .text h1 {
  background-color: green;
  padding: 10px 30px;
  border: 2px solid white;
}
.landing .text p {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #0075ff;
  padding: 5px;
}
.input {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  gap: 30px;
}
.input button {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  font-family: "Alexandria", sans-serif;
  width: 190px;
  border: 1px solid white;
  transition: 0.3s;
}
.input .buttono::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--blue-alt-color);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  z-index: 1;
}
.input .buttono:hover:before {
  background-color: var(--blue-alt-color);
  width: 100%;
  height: 100%;
  border-radius: 0;
  left: 50%;
  z-index: -1;
}
.input .buttont::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--blue-alt-color);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  z-index: 1;
}
.input .buttont:hover:before {
  background-color: var(--blue-alt-color);
  width: 100%;
  height: 100%;
  border-radius: 0;
  left: 50%;
  z-index: -1;
}
.input button:hover {
  color: white;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
}
.title img {
  max-width: 500px;
}
.title h1 {
  margin-bottom: 20px;
  position: relative;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  padding-bottom: 15px;
}
.title .fa-futbol {
  color: rgb(58, 58, 58);
}
.title .fa-angles-right {
  animation-name: gooltwo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  color: red;
  margin-right: 30px;
}
@keyframes gooltwo {
  50% {
    transform: translatex(20px);
  }
}
.title p {
  line-height: 2;
}
.title input {
  margin-top: 30px;
  margin-right: 50px;
  background-color: #0075ff;
  padding: 8px 40px;
  font-size: 22px;
  border: 2px solid black;
  font-family: "Alexandria", sans-serif;
  color: white;
}
.title h1::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  left: -3px;
}
.title h1::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  right: -3px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 14px;
    padding: 11px 10px;
    text-align: center;
  }
  .landing {
    background-image: url(logofot.png);
    background-size: 350px;
    background-position: top;
  }
  .input button {
    border: black 1px solid;
    width: 150px;
    font-size: 14px;
    padding: 10px 7px;
  }
  .landing .text p {
    font-size: 14px;
    padding: 7px 15px;
  }
  .title img {
    max-width: 350px;
    margin-top: 50px;
  }
  .title {
    flex-direction: column;
  }
  .title h1 {
    font-size: 20px;
    padding: 13px 15px;
  }
  .title .text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .title p {
    font-size: 14px;
    text-align: center;
  }
}
.mian-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  transition: 0.3s;
}
.mian-title h1 {
  background-color: var(--orange-color);
  padding: 20px 90px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  border: 1px solid black;
}
.mian-title h1:hover {
  border-radius: 45% 55% 48% 52% / 0% 46% 54% 100%;
}
.mathcs {
  margin-top: 100px;
}
.mathcs .containar .in-box {
  border-bottom: 1px solid var(--orange-color);
  background-color: white;
  position: relative;
}
.mathcs .containar .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}
.mathcs .containar .in-box {
  margin-bottom: 50px;
}
.text-three {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-three p:first-child {
  margin-bottom: 10px;
  background-color: #0075ff;
  width: fit-content;
  padding: 7px 20px;
  color: white;
}
.text-three .activet {
  font-size: 18px;
  margin-bottom: 10px;
}
.twoimg {
  position: absolute;
  width: 150px;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.twoimg2 {
  position: absolute;
  width: 150px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .twoimg {
    position: absolute;
    width: 95px;
    left: 17%;
    top: 67%;
    transform: translate(-50%, -50%);
  }
  .mathcs .containar .box {
    gap: 5px;
  }
  .twoimg2 {
    position: absolute;
    width: 95px;
    right: -8%;
    top: 67%;
    transform: translate(-50%, -50%);
  }
}
.egy {
  position: absolute;
  left: 0;
  max-width: 120px;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}
.egy2 {
  position: absolute;
  left: 0;
  max-width: 120px;
  top: 40%;
  right: 0%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}
@media (max-width: 767px) {
  .egy {
    position: absolute;
    width: 95px;
    left: 17%;
    top: 67%;
    transform: translate(-50%, -50%);
  }
  .mathcs .containar .box {
    gap: 5px;
  }
  .egy2 {
    position: absolute;
    width: 95px;
    right: -8%;
    top: 67%;
    transform: translate(-50%, -50%);
  }
}
.news {
  margin-top: 100px;
}
.news .containar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.news .containar .text-news p {
  line-height: 2;
  font-size: 18px;
}
.down {
  position: absolute;
  left: 85%;
  bottom: 0;
  font-size: 27px;
  animation: bouncing 1s infinite;
  color: #0075ff;
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@media (max-width: 767px) {
  .news .containar {
    flex-direction: column;
  }
  .news .containar img {
    width: 300px;
    left: 50%;
    margin-top: 50px;
  }
  .down {
    left: 50%;
    bottom: -80px;
  }
  .text-news {
    text-align: center;
  }
}
.seps {
  position: relative;
  display: flex;
  margin-top: 100px;
}
.seps .qqq {
  position: absolute;
  left: 0;
}
.big-news {
  margin-top: 100px;
}
.big-news .containar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: relative;
}
.big-news .containar .bar-news {
  margin-bottom: 20px;
  margin-right: 15px;
  transition: 0.3s;
  width: 500px;
  position: relative;
  overflow: hidden;
}
.big-news .containar .bar-news img {
  transition: 0.3s;
}
.big-news .containar .bar-news p {
  padding: 10px;
  color: white;
  line-height: 2;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: -90px;
  transition: 0.3s;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}
.big-news .containar .bar-news:hover p {
  bottom: 0px;
}
.big-news .containar .bar-news img:hover {
  transform: scale(1.2);
}
.big-news .containar .bar-news img {
  max-width: 100%;
}
.but {
  position: absolute;
  bottom: -100px;
  background-color: transparent;
  padding: 8px 20px;
  font-size: 22px;
  border: 2px solid #0d69d5;
  font-family: "Alexandria", sans-serif;
  color: white;
}
.but h1 {
  font-size: 17px;
  font-weight: normal;
  color: black;
}
.down-two {
  position: absolute;
  left: 45%;
  bottom: -70px;
  font-size: 27px;
  animation: bouncing 1s infinite;
  color: #0075ff;
}
@media (max-width: 912px) {
  .big-news .containar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
  }
  .big-news .containar .bar-news {
    margin-right: 0;
    width: auto;
  }
  .big-news .containar .bar-news:hover {
    background-color: #081b31;
    transform: scale(1);
    border: none;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .big-news .containar .bar-news {
    width: auto;
  }
  .big-news .containar .bar-news p {
    font-size: 14px;
  }
}
.news-two {
  margin-top: 250px;
}
.last {
  margin-top: 100px;
}
.last .containar .last-text-bold {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 30px;
}
.last .containar .insert-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  padding: 10px;
  padding-bottom: 15px;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
}
.last .containar .insert-text p:first-child {
  position: relative;
  left: -9px;
}
.last .containar .insert-text p:nth-last-child(3) {
  position: relative;
  left: 5px;
}
.last .containar .insert-text p:last-child {
  position: relative;
  left: -9px;
}
/* .last .containar .insert-text p:first-child::before{
    position: absolute;
    width: 50px;
    height: 1px;
    left: 50%;
    background-color: rgb(196, 196, 196);
    content: "";
    transform: translate(-50%, -50%);
    bottom: -32px;
}
.last .containar .insert-text p:last-child::before{
    position: absolute;
    width: 50px;
    height: 1px;
    left: 50%;
    background-color: rgb(196, 196, 196);
    content: "";
    transform: translate(-50%, -50%);
    bottom: -32px;
} */
.last .containar .insert-text:not(:nth-child(2))::before {
  position: absolute;
  width: 60%;
  height: 1px;
  content: "";
  background-color: var(--orange-color);
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}
.last .containar .first {
  background-color: rgb(45, 45, 45);
  color: white;
  padding-left: 20px;
  border-radius: 6px;
}
.more {
  position: absolute;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #0075ff;
  padding: 8px 20px;
  margin-top: 100px;
  font-size: 22px;
}
.more h1 {
  font-weight: normal;
  font-size: 18px;
}
.last .containar {
  position: relative;
}

.gools {
  margin-top: 70px;
}
.name-big {
  padding: 20px;
  text-align: center;
}
.gools .name-scec,
.name-players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.name-players {
  padding-top: 50px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .name-big {
    padding: 5px;
  }
  .name-players {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* // goools  */
/* .gools {
  margin-top: 150px;
}
.gools .containar .name-gools-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.gools .containar .head-top {
  color: var(--grey-color);
  gap: 150px;
  margin-bottom: 100px;
  position: relative;
  left: -60px;
}
.gools .containar .name-gools-two img {
  width: 90px;
  border-radius: 50%;
}
.gools .containar .name-gools-two span {
  position: absolute;
  right: 108px;
}
.gools .containar .head-bot h1 {
  font-size: 25px;
  font-weight: normal;
}
.gools .containar .head-bot {
  border-bottom: 2px solid var(--red-color);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.bef {
  position: relative;
}
@media (max-width: 767px) {
  .gools .containar .name-gools-two {
    flex-direction: column;
    background-color: red;
  }
  .gools .containar .name-gools-two h1 {
    margin-bottom: 20px;
  }
  .gools .containar .name-gools-two img {
    margin-bottom: 50px;
  }
  .gools .containar .name-gools-two span {
    right: 50%;
    transform: translate(50%, -50%);
    bottom: 183px;
  }
  .gools .containar .head-top {
    display: none;
  }
} */
.footer {
  text-align: center;
  margin-top: 200px;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.5;
}
.footer .links a {
  color: #131313;
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 15px;
  margin-top: 50px;
}
.footer .bar-icons a {
  font-size: 30px;
  display: inline-block;
  color: #131313;
  padding: 0px 50px;
}
.footer h1 {
  font-size: 18px;
  color: #0d69d5;
  padding-bottom: 15px;
}
